.card {
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    padding: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s ease;
    position: relative;
    z-index: 5;
  }
  
  .card.selected {
    background-color: #FFF9FA;
    border: 4px solid #FF6B82;
    height: 200px;
  }
  .details{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .inputSection{
    width: 10%;
  }
  .contentSection{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
  }
  .cardHeader {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
  .radio {
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #DADADA;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
    background: radial-gradient(farthest-side, #FF6B82 94%, #0000) 50%/0 0 no-repeat content-box;
    transition: background-size 0.3s, border-color 0.3s;
  }
  .radio:checked{
    border-color: #FF6B82;
    background-size: 80% 80%;
  }
  
  .title {
    font-weight: bold;
    margin-left: 1rem;
  }
  
  .discount {
    background-color: #FF6B82;
    color: #fff;
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    border-radius: 5px;
    margin-left: 0.5rem;
  }
 
  .price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 1rem;
    height: 1.5rem;
  }
  
  .strike {
    color: #C8C8C8;
    text-decoration: line-through;
    font-size: 0.9rem;
    margin-left: 0.5rem;
  }
  
  .mostPopular {
    background-color: #FF6B82;
    color: #fff;
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
    position: absolute;
    top: -13px;
    right: 1.5rem;
    border-radius: 0px 0px 4px 4px;
    z-index: 11;
  }
  
  .mostPopular::before, .mostPopular::after {
    content: '';
    width: 80px;
    height: 100%;
    position: absolute;
    z-index: -100;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  
  .mostPopular::before {
    background-image: linear-gradient(-45deg, transparent 55%, #FF6B82 45%);
    transform: rotate(45deg);
    left: -58px;
    top: -24.7px;
  }
  
  .mostPopular::after {
    background-image: linear-gradient(45deg, transparent 55%, #FF6B82 45%);
    top: 17px;
    right: -16px;
    transform: rotate(-45deg);
    
  }
  .options {
    margin-top: 1rem;
  }
  
  .optionRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }
  
  .optionRow label {
    margin-right: 1rem;
  }
  
  select {
    margin: 0 0.5rem;
    padding: 0.3rem;
    border: 1px solid #C8C8C8;
    border-radius: 3px;
  }
  